PRIVATE_KEY=privatekey
REDIS_URL=redis://127.0.0.1:6379
PORT=3000
ZILLIQA_NODE_API=https://dev-api.zilliqa.com
ZILLIQA_NODE_WEBSOCKET_API=wss://dev-ws.zilliqa.com
ZILLIQA_CHAIN_ID=222
PROXY_CONTRACT=0xe51a9d90e1e1bd9c99b6d96956148307519a0211