version: '2'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy
    networks:
      - service-network
    #restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/nginx-certs:/etc/nginx/certs
      - ./nginx/nginx-vhost:/etc/nginx/vhost.d
      - ./nginx/nginx-html:/usr/share/nginx/html

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    networks:
      - service-network
    #restart: always
    depends_on: [ nginx-proxy ]
    environment:
      - DEFAULT_EMAIL=contact@carbontoken.info
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/nginx-certs:/etc/nginx/certs
      - ./nginx/nginx-vhost:/etc/nginx/vhost.d
      - ./nginx/nginx-html:/usr/share/nginx/html

  relayer:
    build: .
    container_name: relayer
    networks:
      - service-network
    #restart: always
    environment:
      REDIS_URL: redis://redis/0
      VIRTUAL_HOST: relayer-blackhole.carbontoken.info
      LETSENCRYPT_HOST: relayer-blackhole.carbontoken.info
      LETSENCRYPT_EMAIL: contact@carbontoken.info
    env_file: .env
    ports:
      - 3000:3000
    depends_on: [ redis ]
    command: node server.js
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules

  worker:
    build: .
    container_name: worker
    networks:
      - service-network
    #restart: always
    environment:
      REDIS_URL: redis://redis/0
    env_file: .env
    depends_on: [ redis ]
    command: node src/worker
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules


  redis:
    image: redis
    container_name: redis
    networks:
      - service-network
    #restart: always
    ports:
      - 127.0.0.1:6379:6379
    command: [ redis-server, --appendonly, 'yes' ]
    volumes:
      - ./redis:/data

networks:
  service-network:
    external: true

volumes:
  node_modules: